.u-section-1 {
  background-image: url("images/7701db6b-3d4b-e7fd-07ef-ae0202a94606.jpg");
  min-height: 691px;
}

.u-section-1 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -105px);
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -382px 0 -23px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 194px auto 0 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 2000ms;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  background-image: none;
  letter-spacing: 3px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  animation-duration: 1000ms;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 36px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
    min-height: 449px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + -105px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + -105px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2) + -105px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 343px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + -105px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 364px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 409px;
}

.u-section-2 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 25px auto 0 79px;
}

.u-section-2 .u-text-1 {
  font-size: 3.375rem;
  background-image: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  letter-spacing: 3px;
  margin: -304px 623px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  animation-duration: 1000ms;
  letter-spacing: 3px;
  font-weight: normal;
  margin: 52px 34px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 423px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -285px;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 478px;
}

.u-section-3 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 60px -259px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 3.375rem;
  background-image: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  letter-spacing: 3px;
  margin: -359px 379px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  animation-duration: 1000ms;
  letter-spacing: 3px;
  font-weight: normal;
  margin: 52px 0 0 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: url("images/7701db6b-3d4b-e7fd-07ef-ae0202a94606.jpg");
  background-position: 50% 50%;
  min-height: 548px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 30px 40px;
}

.u-section-4 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 64px auto 0 391px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 2000ms;
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 1;
  background-image: none;
  letter-spacing: 3px;
  margin: -320px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  animation-duration: 1000ms;
  letter-spacing: 3px;
  font-weight: normal;
  margin: 64px 37px 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 331px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 218px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -383px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 60px 20px;
  }

  .u-section-4 .u-shape-1 {
    width: 282px;
    height: 282px;
    margin-top: 61px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -338px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 558px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 130px;
    padding-left: 10px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 89px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -366px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 344px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 65px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 109px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: -386px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 434px;
}

.u-section-5 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 41px auto 0 -248px;
}

.u-section-5 .u-text-1 {
  font-size: 3.375rem;
  background-image: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  letter-spacing: 3px;
  margin: -339px 379px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  animation-duration: 1000ms;
  letter-spacing: 3px;
  font-weight: normal;
  margin: 60px 17px 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1500ms;
  margin: 24px auto 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1500ms;
  margin: 24px auto 24px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 168px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 174px;
  min-width: 78px;
  white-space: nowrap;
  animation-duration: 2000ms;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 3px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 102px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 64px;
  }
}